<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/rtinstant/css/master.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
</head>
<body id="body">
	<div class="container" id="body-container">

		<div class="row-fluid" id="row1">
			<div class="container-fliud">
				<div class="row-fliud">
					<form class="body-form">
						<div class="body-query">
							<input type="text" name="query" id="body-input">
						</div>
					</form>
				</div>
			</div>

			<div class="row-fliud" id="body-content">

				<div class="container-fliud">
					<div class="row-fliud">
						<div class="span4" id="movie-poster" rel="tooltip" title="Poster">

						</div>
						<div class="span6" id="movie-details">
							<div class="row">

								<div class="span3 tile-area" id="1" rel="tooltip" title="Title">
									<div class="movie-tile">
										<p class="tile-content"></p>
									</div>

								</div>
								<div class="span3 tile-area" id="2" rel="tooltip"
									title="Critics Score">
									<div class="movie-tile">
										<p class="tile-content"></p>
									</div>
								</div>
								<div class="span6 movie-tile" id="3" rel="tooltip"
									title="Critics Consensus">

									<p class="tile-content"></p>

								</div>

							</div>

							<div class="row">
								<div class="span3 tile-area" id="4" rel="tooltip"
									title="MPAA Rating">
									<div class="movie-tile">
										<p class="tile-content"></p>
									</div>
								</div>
								<div class="span3 tile-area" id="5" rel="tooltip"
									title="Runtime">
									<div class="movie-tile">
										<p class="tile-content"></p>
									</div>
								</div>
								<div class="span3 tile-area" id="6" rel="tooltip"
									title="Critics Rating">
									<div class="movie-tile">
										<p class="tile-content"></p>
									</div>
								</div>
								<div class="span3 tile-area" id="7">
									<div class="movie-tile">
										<p class="tile-content"></p>
									</div>
								</div>

							</div>

							<div class="row">
								<div class="span3 tile-area" id="8">
									<div class="movie-tile">
										<p class="tile-content"></p>
									</div>
								</div>
								<div class="span3 tile-area" id="9">
									<div class="movie-tile">
										<p class="tile-content"></p>
									</div>
								</div>
								<div class="span3 tile-area" id="10">
									<div class="movie-tile">
										<p class="tile-content"></p>
									</div>
								</div>
								<div class="span3 tile-area" id="11">
									<div class="movie-tile">
										<p class="tile-content"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

	<script src="/js/lib/underscore.js"></script>
	<script src="/js/lib/jquery-1.8.3.js"></script>
	<script src="/js/lib/backbone.js"></script>
	<script src="/js/lib/backbone.marionette.js"></script>
	<script src="/js/lib/bootstrap.js"></script>
	<script data-main="/rtinstant/js/main" src="/js/lib/require.js"></script>
</body>
</html>